<mat-menu #menu="matMenu">

  <button mat-menu-item>
    <span (click)="addVehicleModal()">Add Vehicle Modal</span>
  </button>

  <button mat-menu-item>
    <span (click)="addVehicleModalImage()">Add Vehicle Modal Image</span>
  </button>

  <button mat-menu-item>
    <span (click)="addVehicleParts()">Add Vehicle Parts</span>
  </button>

  <button mat-menu-item>
    <span (click)="addVehiclePartsImage()">Add Vehicle Parts Image</span>
  </button>

</mat-menu>

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <span>{{pageName}}</span>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
